.swiper {
  width: 100vw;
  height: 100vh;
}
.first {
  background-color: red;
}

.second {
  background-color: orange;
}

.third {
  background-color: yellow;
}

.fourth {
  background-color: green;
}

.fifth {
  background-color: red;
}
