.entrance {
  width: 100vw;
  height: 100vh;
  border: 1px solid red;

  position: relative;
}

.sidebar {
  width: 20%;
  height: 100%;

  position: absolute;
  top: 0px;
  right: 0px;
}

.sidebar__menu {
  width: 20%;
  height: 100%;
}
.sidebar__menu-contents {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
